.post-title {
    word-break:break-all;
    -webkit-line-clamp: 3;
    line-height: 30px;
    font-weight: 600 !important;
    color: darkgoldenrod !important;
    white-space: pre-wrap !important;
}
.item-post{
    margin-top: 20px;
}