.post-title {
    word-break:break-all;
    -webkit-line-clamp: 3;
    line-height: 30px;
    font-weight: 600 i !important;
    color: darkgoldenrod !important;
    white-space: pre-wrap i !important;
}